body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cdb4db;
  color: azure;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 5px;
}
.board {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}
